.account-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.additional-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.info-item {
    //   flex: 1 0 300px;
    max-width: 300px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.service-item {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.paid {
    background-color: green;
}

.unpaid {
    background-color: red;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: last baseline;
    padding: 10px;
}

.menu-item {
    padding: 10px;
    margin: 0 5px;
    font-weight: bold;
    cursor: pointer;
}

.menu-item:hover {
    background-color: rgba(0, 144, 192, 1);
}

.searchbar-container {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  
  .custom-searchbar {
    width: 120%; /* Adjust the width as needed */
    max-width: 1000px; /* Set a maximum width if desired */
  }