<ion-tabs>

  <ion-tab-bar slot="bottom" id="tab-bar-id">
    <ion-tab-button tab="account-overview">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Account overview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="itemisation-usage">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Itemisation Usage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-details">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>User Details</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
