<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- User Details -->
      <img src="assets/cerillionlogo.png" alt="Cerillion Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <h3>Test android features</h3>
  <div class="services-grid">
    <div class="service-item">
      <p-panel header="Status Bar">
        <div class="button-container">
          <button pButton type="button" label="Show Status Bar" class="button-gap" (click)="showStatusBar()"></button>
          <button pButton type="button" label="Hide Status Bar" class="button-gap" (click)="hideStatusBar()"></button>
        </div>
      </p-panel>
    </div>
  </div>
  <br>
  <div class="services-grid">
    <div class="service-item">
      <p-panel header="Send Toast">
        <div class="button-container">
          <input type="text" [(ngModel)]="toastMessage" placeholder="Enter toast message"
            style="color: #000; background-color: #fff;" />
          <button pButton type="button" label="Send toast" class="button-gap" (click)="showToastMessages()"></button>
        </div>
      </p-panel>
    </div>
  </div>
  <br>
  <div class="services-grid">
    <div class="service-item">
      <p-panel header="Get Geolocation">
        <div class="button-container">
          <button pButton type="button" label="Get Geolocation" class="button-gap" (click)="printCurrentPosition()"></button>
          <span *ngIf="currentCoordinates !== null && currentCoordinates !== undefined">
            Coordinates : {{ currentCoordinates!.coords.latitude }}, {{ currentCoordinates!.coords.longitude }}
          </span>
        </div>
      </p-panel>
    </div>
  </div>
  <br>
  <div class="services-grid">
    <div class="service-item">
      <p-panel header="Haptic Feedback">
        <div class="button-container">
          <button pButton type="button" label="Impact : Light" class="button-gap" (click)="performHaptic('light')"></button>
          <button pButton type="button" label="Impact : Medium" class="button-gap" (click)="performHaptic('medium')"></button>
          <button pButton type="button" label="Impact : Heavy" class="button-gap" (click)="performHaptic('heavy')"></button>
        </div>
      </p-panel>
    </div>
  </div>


</ion-content>